{% extends 'base.html' %}

{% block title %}Criar conta{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth-form.css') }}">
{% endblock %}

{% block body %}
  <main>
    <h1>Criar conta</h1>

    <form method="post">
      <div class="form-group">
        <label for="username">Nome de usuário</label>
        <input type="text" name="username" id="username" placeholder="Informe um nome de usuário" required>

        {% if error and error['username'] %}
          <div class="error-message-wrapper">
            <span class="error-icon-wrapper">{{ error_icon | safe }}</span>
            <span class="error-message">{{ error['username'] }}</span>
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Informe uma senha" required>

        {% if error and error['password'] %}
          <div class="error-message-wrapper">
            <span class="error-icon-wrapper">{{ error_icon | safe }}</span>
            <span class="error-message">{{ error['password'] }}</span>
          </div>
        {% endif %}
      </div>

      <button type="submit" class="register-button">Criar conta</button>

      <a href="{{ url_for('auth.login') }}" class="link-button">Fazer Login</a>
    </form>
  </main>
{% endblock %}
