@import url('./task-list.css');

html, body {
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  width: 100%;
}

.new-task-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-task-input {
  width: 70%;
  padding: .5em;
  font-size: 1em;
  border-radius: 0;
}

.submit-task-button {
  width: 1.9em;
  height: 1.9em;
  font-size: 1.2em;
}

.submit-task-button:enabled {
  background: linear-gradient(45deg, var(--primary-color), #ff6a00);
}
